# To see defaults run `ghostty +show-config --default --docs`.
theme=Dracula

# To see exact font used run `ghostty +show-face --string=abc`.
font-family="DejaVuSansM Nerd Font Mono"
font-size=10

# Do not confirm on terminal close.
confirm-close-surface=false

# Reduce scrollback (handled by tmux).
scrollback-limit=1000
