[Desktop Entry]
Type=Application
Exec=/usr/bin/chromium %U --disable-session-crashed-bubble --disable-infobars --start-maximized --ozone-platform=x11
Comment=Access the Internet
