snippet main
	int main(int argc, char **argv) {
		${1:/* code */}
		return 0;
	}
snippet il
	#include      "${1:localfile}"
snippet ig
	#include      <${1:globfile}>
snippet if
	if (${1:/* condition */}) {
		${2:/* code */}
	}
snippet ifel
	if (${1:/* condition */}) {
		${2:/* code */}
	} else {
		${3:/* code else */}
	}
snippet for
	for (${1:/* init */}; ${2:/* condition */}; ${3: /* after */}) {
		${4:/* code */}
	}
snippet while
	while (${1:/* condition */}) {
		${2:/* code */}
	}
