snippet class
	class ${1:`Filename('', 'UNTITLED')`} {
		public:
			$1();
			~$1();
		private:
			${2:/* data */}
	};
snippet u
	using namespace std;
snippet fg
	#ifndef ${1:`toupper(Filename('', 'UNTITLED'))`}
	#define $1

	${2:/* data */}

	#endif /* end of $1 */
snippet try
	try {
		${1:/* code */}
	} catch(...) {
		${2:/* handle exception */}
	}
